*{padding: 0; margin: 0; box-sizing: border-box;}

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


body {
    font-family: 'Poiret One', cursive;
    background-color: rgb(148,57,72);
    overflow: auto;
}

.container {
    padding: 50px 100px 0px 100px;
    margin: 0 0 0px 0;
    text-align: center;
    /* background-color: rgb(148,57,72); */
    background-image: url("../img/bg3.jpg");
    background-position: right 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;

    font-family: 'Poiret One', cursive;
}

header {
    padding: 0 0 65px 0;
}


h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(229, 211, 211);
    letter-spacing: 3px;
    padding-bottom: 50px;
    text-shadow: 5px 15px 20px black;
}

.button {
    box-shadow: 5px 10px 20px black;
}

button {
    cursor: pointer;
    outline: none;
    background: rgb(229, 211, 211);
    border: 1px solid rgb(229, 211, 211);
    border-radius: 3px;
    font-weight: bold;
    font-family: inherit;
    letter-spacing: 2px;
    padding: 15px;

}

button:hover {
    background: rgb(58, 22, 28);
    color:rgb(229, 211, 211);
    font-weight: 900;
    transition: 0.3s;
    border: 1px solid rgb(58, 22, 28);
}

main  {
    display: flex;
    flex-wrap: wrap;
    margin-right: 350px;
}

.div {
    background: -webkit-radial-gradient(top left,  rgb(229, 211, 211) 40%, rgb(148,57,72) 120%);
    width: 200px;
    height: auto;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    box-shadow: 5px 5px 20px black;
    margin: 0 15px 15px 0;
    overflow: auto;
}

.div i {
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(229, 211, 211);
    border-radius: 3px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(146, 89, 99);
    border-radius: 2px;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -moz-transform: translate(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }  

  /* END HERE */

h2 {
    padding: 0 0 10px 0;
}

p {
    padding: 0px 0 10px 0;
}

/* FORM */

/* Modal */

.modal {
    display: none; 
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding: 0px 0px 0px 0px; 
    /* Location of the box */
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%; 
    /* margin: 50; */
    /* Full width */
    height: 100%; 
    /* Full height */
    overflow: auto; 
    /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
    /* Black with opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background: white;
    padding: 20px 30px;
    position: fixed;
    top: 220px;
    left: 450px;
    right: 450px;
    border: 1px solid inherit;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:220px; opacity:1}
}

@-moz-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:220px; opacity:1}
}

@-o-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:220px; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:220px; opacity:1}
}

  /* POP UP */
.popUpConfirmation {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 250px 0px;
    background-color: rgb(0,0,0);
    /* Fallback color */
    background-color: rgba(0,0,0,0.4); 
    /* Black with opacity */
}

.pop-up{
    background-color: white;
    width: fit-content;
    padding: 20px;
    display: inline-block;
    border-radius: 3px;
    margin: auto;   
  }

.pop-up p {
    padding: 20px 0 ;
}

.attention {
    background: rgb(250, 144, 144);
    color: rgb(153, 26, 26);
    width: fit-content;
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    margin: auto;
    display: none;
}

form {
    text-align: left;
    background: white;
}

form h3 {
    text-align: center;
    padding-bottom: 10px;
}

form input, form select {
    background: none;
    padding: 10px;
    margin: 2px 0 0 0;
    border: 1px solid rgb(229, 211, 211);
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 1px;
    outline: none;
    width: 100%;
    border-radius: 2px;

}

form input:active {
    box-shadow: 1px 1px 2px rgb(58, 22, 28);
}

form button {
    padding: 5px 5px 5px 5px;
}

form label {
    font-weight: 900;
    letter-spacing: 1.5px;
}

form p {
    padding: 10px 0 0 0;
}

footer {
    padding: 0 20px 0 0;
    margin: 0px 0px 20px 0px;
    text-align: center;
    color: white;
    font-family: inherit;
    position: absolute;
    height: 50px;
    display: table-row;
    bottom: 0;
    right: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}


@media screen and (max-width: 1000px) {

    .container {
        padding: 70px 20px 0px 20px;
        background-image: url("../img/bg3.jpg");
        background-position: right 0;
        background-repeat: no-repeat;
        width: 100%;
        height: 650px;
        font-family: 'Poiret One', cursive;
    }
    
    header {
        padding: 0 0 65px 0;
    }    
    
    h1 {
        font-size: 30px;
    }
     
    button {
        letter-spacing: 2px;
        padding: 8px;
    }
    
    main  {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
    }
    
    .div {
        background: -webkit-radial-gradient(top left,  rgb(229, 211, 211) 40%, rgb(148,57,72) 120%);
        width: 150px;
        padding: 10px 5px 10px 5px;
        box-shadow: 5px 5px 20px black;
        margin: 15px auto;
    }
    
    h2 {
        padding: 0 0 5px 0;
        font-size: 18px;
    }
    
    p {
        padding: 0px 0 5px 0;
        font-size: 15px;
    }
    
    /* FORM */
    
    /* Modal */
    
    .modal {
        display: none; 
        position: fixed;
        z-index: 1;
        padding: 0px 20px; 
        top: 0px;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%; 
        margin: auto;
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
      }
      
      /* Modal Content */
      .modal-content {
        background: white;
        padding: 20px 30px;
        position: fixed;
        top: 90px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 70%;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    
    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:120px; opacity:1}
    }
    
    @-moz-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:120px; opacity:1}
    }
    
    @-o-keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:120px; opacity:1}
    }
    
    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:90px; opacity:1}
    }
    
    .attention {
        background: rgb(250, 144, 144);
        color: rgb(153, 26, 26);
        width: fit-content;
        display: inline-block;
        padding: 10px;
        border-radius: 3px;
        position: fixed;
        z-index: 1;
        top: 130px;
        right: 0;
        left: 0;
        margin: auto;
        display: none;
    }

    
    form {
        text-align: left;
        background: white;
        font-size: 15px;
    }
    
    form h3 {
        text-align: center;
        padding-bottom: 10px;
    }
    
    form input, form select {
        background: none;
        padding: 10px;
        margin: 2px 0 0 0;
        border: 1px solid rgb(229, 211, 211);
        font-family: inherit;
        font-weight: 600;
        letter-spacing: 1px;
        outline: none;
        width: 100%;
        border-radius: 2px;
    
    }
    
    form input:active {
        box-shadow: 1px 1px 2px rgb(58, 22, 28);
    }
    
    form button {
        padding: 5px 5px 5px 5px;
        /* background: white; */
    }
    
    form label {
        font-weight: 900;
        letter-spacing: 1.5px;
    }
    
    form p {
        padding: 10px 0 0 0;
    }
    
    footer {
        padding: 0 20px 0 0;
        margin: 0px 0px 0px 0px;
        text-align: center;
        color: white;
        font-family: inherit;
        position: absolute;
        height: 80px;
        display: table-row;
        bottom: 0;
        right: 0;
    }
    
    a {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
    }
}